# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
modules.order
Module.symvers
Mkfile.old
dkms.conf

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeFiles-build-debug
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
cmake-build-debug/
*.cmake
*.tcl
#
*.cbp
*.tpl

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# doxygen
*~
.*sw?
\#*
.DS_Store

*.rej
*.orig

*.pro
/packages/rpm/doxygen.spec
*.idb
*.pdb

/docs/doxygen_docs
/docs/doxygen.tag
/docs/build*

# Project dependent ignore rules
/deps/*
/Testing/*
/build/*

# Zip file ignore.
*zip

#Ignore visual studio ide.
.idea
*.iml